.menu{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    gap: 20px;
    position: fixed;
    z-index: 999;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px #0000007c;
}

.menu a{
    text-decoration: none;
    color: #000000c7;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
    width: auto;
    opacity: 0.7;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.menu a:hover{
    opacity:1;

}

.menu a::before{
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 0%;
    height: 2px;
    transition: all 500ms;
    background-color: #333333;
}

.menu a:hover::before{
    width: 100%;
}

.menu .logo{
    padding-left: 100px;
}

.s1{
    background-image: url("public/banner2.webp");
    width: 1900px;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.s1 h1{
    width: 347.1px;
    height: auto;
    padding-top: 400px;
    padding-left: 50px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.s1 p{
    padding-left: 50px;
    width: 450px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.s2{
    width: 590px;
    padding: 200px;
}

.s2 h1{
    font-weight: 100;
    padding-bottom: 100px;
}

.s2 img{
    display: flex;
}

.card img{
    width: 290px;
    transition: all 300ms ease-in-out;
}

.wrapCards{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 25px;
    max-width: 200px;
    height: auto;
}

.wrapCards .card{
    transition: all 200ms ease-in-out;
}

.wrapCards .card:hover{
    transform: scale(1.02);
}